body {
  font-family: Helvetica, sans-serif;
}
#new-todo {
  width: 200px;
}

.destroy {
  margin-left: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
  background: #3498db;
  text-decoration: none;
  border:none;
  transform: translateY(-15%);
}

.destroy:hover {
  background: #3cb0fd;
  text-decoration: none;
}
